
h1 {
	text-align: center;
}

td {
	width: 100px;
	height: 100px;
	/*margin: 0 auto 0 auto;*/
	/*background: purple;*/
}

table {
	margin-left: auto;
	margin-right: auto;
}

.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.left {
	border-left-style: hidden;
}

.side {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#middle {
	border: 1px solid black;
}